@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to my PC gaming site. This is an MVC application that demonstrates CRUD operations. There is no database associated with this site, so any changes will be reset each time you run the program.</p>

@Html.ActionLink("Back to Home", "Index", "Home")

