@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Drew's PC Gaming Store</h1>
    <p>We have all of the latest PC gaming gear!</p>
</div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-top: 50px">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="~/images/HomeImage.png" class="d-block w-80" style="margin: auto; height: 60vh" alt="...">
            </div>
             <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/chair.png" class="d-block w-80" style="margin: auto; height: 60vh" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/CPU.png" class="d-block w-80" style="margin: auto; height: 45vh" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/mouse.png" class="d-block w-70" style="margin: auto; height: 50vh" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/GPU.png" class="d-block w-85" style="margin: auto; height: 50vh" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/monitor.png" class="d-block w-90" style="margin: auto; height: 60vh" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/keyboard.png" class="d-block w-70" style="margin: auto; height: 40vh" alt="...">
            </div>
        </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

