@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site was created by Drew Partin for MSSA PCAD5 Assignment 12.3. All images and product descriptions courtesy of Amazon.com.</p>

@Html.ActionLink("Back to Home", "Index", "Home")