@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>This site contains a list of some of my favorite books as well as those I am currently reading.</p>

@Html.ActionLink("Back to Home", "Index", "Home")